<div class="row">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped table-hover data-table-custom">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Username</th>
                    </tr>
                </thead>
                <tbody>
                  <% @users.each do |user| %>
                    <tr class="clickable-row" data-href="<%= user_path(user) %>">
                        <td><%= user.first_name %></td>
                        <td><%= user.last_name %></td>
                        <td><%= user.username %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>
