<div class="row justify-content-center align-items-center">
    <div class="col-12 col-md-6 col-lg-4">
        <%= form_tag '/reset-password' do %>
            <div class="row gy-3">
                <div class="col-12">
                    <p>Please enter your email address to reset your password:</p>
                </div>
                <div class="col-12">
                    <%= email_field_tag :email, nil, { class: 'form-control', placeholder: 'Email' } %>
                </div>
                <div class="col-12 d-flex justify-content-center">
                    <%= submit_tag 'Reset Password', class: 'btn btn-primary btn-lg' %>
                </div>
            </div>
        <% end %>
    </div>
</div>
