<div class="row pt-4">
    <div class="col-12">
        <p>Welcome to MudTrackr!</p>
        <p>An email was sent to <strong><%= @user.email %></strong>. Please click the link in the email to verify your account.</p>
        <p>Didn't get the email or need a new one? Click the button below or contact <a href="sendto:websupport@mudtrackr.com">websupport@mudtrackr.com</a>.
        <button type="button" class="btn btn-primary">Resend Verification Email</button>
    </div>
</div>
