// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.brand-logo:hover {
    cursor: pointer;
    border: 1px solid #dee2e6!important;
}

.brand-logo.border:hover {
    border: 1px solid #6c757d!important;
}
