<!DOCTYPE html>
<html>
    <%= render 'layouts/head' %>

    <body>
        <div class="container-fluid">
        
            <%= render 'layouts/navbar' %>

            <div class="row mb-4">
                <div class="col-12 pt-3">
                    <%= yield %>
                </div>
            </div>

            <%= render 'layouts/footer' %>

        </div>
    </body>
</html>
